body {
  font-family: "Open Sans";
  font-size: 12px;
}

.rounded() {
  border-radius: 2px;
}

#options, #display {
  float: left;
}

#options {
  width: 25%;
}

#display {
  width: 65%;

  * {
    padding: 0;
    margin: 0;
  }

  ul, ol, li {
    list-style: none;
  }
}

.selector-option {
  .rounded();
  border: 1px solid #eee;
  padding: 4px;
  margin: 4px;

  .selector {
    display: none;
  }

  &:hover, &.selected {
    cursor: pointer;
    background-color: #eee;

    .label {
      display: none;
    }
    .selector {
      display: block;
    }
  }
}

.tag {  
  .rounded();
  border: 1px solid transparent;
  padding: 4px;
  margin: 4px;

  &.highlighted {
    border: 1px solid green;
  }
}